.employee-graph-card{
    border: 2px solid #E0E0E0;
    padding: 12px;
    border-radius: 12px;
    cursor:pointer;
}
.chart-image-container{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.rubik-growth-percentage{
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      
}
.growth-vector-line{
    filter: drop-shadow( var(--css-primary) 0rem 0.3rem 0.3rem);
}
/*mobile*/
@media only screen and (min-width:768px){
    .employee-stat-card{
        width: 100% !important;
    }
    .employee-graph-card{
        width: 100%;
        height: 200px;

    }
  
}

/* desktop */
@media only screen and (min-width: 1200px) {
    .employee-stat-card{
        width:250px !important;
        max-height: 150px;
    }
    .employee-graph-card{
        max-width: 480px;
        width: 380px;
        
    }
}

/* tablet */

@media only screen and (min-width: 768px) {
    .employee-stat-card{
        width:250px !important;
        max-height: 150px;
    } 
    .employee-graph-card{
        max-width: 480px;
        width: 380px;
        height: 200px;

    }
}